.btn {
  height: 40px;
}

.btn-sm-100 {
  width: 100%;

  @include media-breakpoint-up(md) {
    width: auto;
  }
}

.btn-delete:hover {
  background-color: $watermelon;
  color: white;
  border-color: $watermelon;
}

.btn-add:hover {
  background-color: $dark-green;
  color: white;
  border-color: $dark-green;
}
