.logo-card {
  border: 1px solid $light-gray;
  border-radius: 16px;
  width: 320px;
  cursor: pointer;
}

.logo-card:hover {
  border-color: $secondary-theme-color;
  background-color: $secondary-theme-color;
}

.alert-card {
  background-color: $light-gray;
  border-left: 6px solid;

  &__red {
    border-color: $watermelon;
  }

  &__green {
    border-color: $green;
  }
}
