.logo-card {
  border: 1px solid $light-gray;
  border-radius: 16px;
  width: 320px;
  cursor: pointer;
}

.logo-card:hover {
  border-color: $secondary-theme-color;
  background-color: $secondary-theme-color;
}
