.sidebar {
    &__first {
        width: 90px;
    }

    &__second {
        width: 240px;
        background: $secondary-theme-color;
    }

    &__icon {
        color: $secondary-theme-color;
    }

    &__icon:hover {
        border-right: 3px solid white;
        color: white;
        cursor: pointer;
    }

    &__menu-item:hover {
        font-weight: 600;
        background: darken($secondary-theme-color, 20%);
    }
}
