@mixin md-icon-size($size: 24px) {
  font-size: $size;
  height: $size;
  width: $size;
}
  
.md-icon-18 {
  @include md-icon-size(18px);
}
  
.md-icon-24 {
  @include md-icon-size(24px);
}
  
.md-icon-34 {
  @include md-icon-size(34px);
}

.md-icon-42 {
  @include md-icon-size(42px);
}

@mixin font-size ($size: 1rem) {
  font-size: $size;
}

.text-xl {
  @include font-size(2rem)
}

.text-lg {
  @include font-size(1.5rem)
}

.text-md {
  @include font-size(1rem)
}

.text-sm {
  @include font-size(0.8rem)
}
  