html,
body {
    height: 100vh;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
    
    .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }
}

.auth-base-root {
    background-image: url('/img/unsplash/background.jpg');
    background-size: cover;

    .authentication-card {
        overflow-y: scroll;
        display: flex;
        background-color: white;
        border-radius: 4px;
        box-shadow: $primary-shadow;
        height: 420px;
        width: 720px;
        font-size: 14px;

        @media (max-width: 768px) {
            width: 100%;
            height: 100%;
        }

        .left-side {
            background-color: $main-theme-color;
            color: white;
            border-top-left-radius: 4px;
            border-bottom-left-radius: 4px;
            margin-top: 0;

            @media (max-width: 768px) {
                width: 100%;
            }

            a {
                color: white;
                border-bottom: 1px solid white;
            }
            .p-6 {
                flex-direction: column;
                box-sizing: border-box;
                justify-content: space-between;
            }

        }

        line-height: 1.5;

        h1 {
            font-size: 28px;
            
            i {
                font-style: italic;
            }
        }

        button {
            background-color: $main-theme-color;
            width: 100%;
            border: 0;
            color: white;
            font-weight: bold;
            font-size: 16px;
            height: 45px;
            border-radius: 4px;
        }
    }
}
