// heights
$header-height: 60px;

// font-weights
$weight-medium: 600;

// colours
$main-theme-color: #034f84;
$secondary-theme-color: #f4f5f9;
$secondary-theme-dark-color: #dddfe8;
$main-background-color: #fff;
$border-color: #707070;
$white-color: #fff;
$red: #ff0c00;
$watermelon: #ec5870;
$green: #87c981;
$dark-green: #00806A;
$light-gray: #f8f8f8;
$transparent-light-color: rgba(255, 255, 255, 0.1);
