// heights
$header-height: 60px;

// font-weights
$weight-medium: 600;

// colours
$main-theme-color: #034f84;
$secondary-theme-color: #dddfe8;
$dark-theme-color: #2e1111;
$main-background-color: #fff;
$border-color: #707070;
$white-color: #fff;
$context-bar-border-color: #ebebeb;
$dark-grey: #ababab;
$red: #ff0c00;
$tundora: #585452;
$light-gray: #f8f8f8;
$cork: #504d4b;
$separator-color: #dee2e6;
$transparent-light-color: rgba(255, 255, 255, 0.1);

// shadow
$primary-shadow: 0 0 2em rgba(0, 0, 0, 0.125);
