// heights
$header-height: 60px;

// font-weights
$weight-medium: 600;

// colours
$main-theme-color: #034f84;
$secondary-theme-color: #dddfe8;
$dark-theme-color: #2e1111;
$main-background-color: #E4E4E4;
$border-color: #707070;
$white-color: #FFFFFF;
$context-bar-border-color: #EBEBEB;
$dark-grey: #ababab;
$red: #ff0c00;
$tundora: #585452;
$light-grey: #f8f8f8;
$cork: #504D4B;
$separator-color: #dee2e6;
$transparent-light-color: rgba(255,255,255,.1);

// shadow
$primary-shadow: 0 0 2em rgba(0,0,0,0.125);
