@page "/admin/clients/add"
@attribute [Authorize(Roles = "admin")]

@layout AdminBase

@using AuthServer.Client.Pages.Admin.Shared
@using Microsoft.AspNetCore.Authorization

<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Clients</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group mr-2">
            <button type="button" class="btn btn-sm btn-outline-primary">Add client</button>
        </div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>1,001</td>
                <td>Lorem</td>
            </tr>
        </tbody>
    </table>
</div>