@using AuthServer.Shared.Admin

@inject NavigationManager NavigationManager
@inject AuthServer.Shared.Admin.AdminApps.AdminAppsClient AppsClient

<h4>Configure Settings</h4>

<form @onsubmit="@SubmitForm">

    <div class="form-check">
        <input type="text" name="app_name" class="form-check-input" @bind="AppName" />
        <label for="app_name" class="form-check-label">Name</label>
    </div>

    <button type="submit">Finalize</button>
</form>

@code {
    #nullable enable

    private string? AppName;

    public async Task SubmitForm()
    {

        AddNewAppRequest request = new AddNewAppRequest
        {
            HasLdapAuth = true,
            HasLdapDirectory = true,
            Name = AppName
        };

        AddNewAppReply reply = await AppsClient.AddNewAppAsync(request);
        if (reply.Success == true)
        {
            NavigationManager.NavigateTo("admin/apps");
        }
    }
}
