@implements IStep

@using AuthServer.Client.Pages.Admin.Apps.Setup.Steps.Layouts.CardChoose

<h2>How should users connect to this application?</h2>

<CardChooseItems 
    CardItems="@CardItems"
    OnSelect="@OnSelect" />

@code {
    [Parameter]
    public SetupAppStateMachine StateMachine { get; set; } = null!;
    public string? Type;

    private readonly List<CardItem> CardItems = new List<CardItem>(){
        new CardItem("Gatekeeper Proxy", "Your application will be only accessible via a secure channel using Gateekeeper Proxy", "/img/nounproject/proxy.svg"),
        new CardItem("Directly", "Your application needs to be put on the internet directly", "/img/nounproject/server_connection.svg"),
    };

    private Task OnSelect(CardItem cardItem)
    {
        Type = cardItem.Name;
        StateMachine.SetNextStep(new AppInformationStep());
        return Task.CompletedTask;
    }
}
