@page "/install"

@layout LoggedOutLayout

<div class="h-100 pt-0 pt-md-4">
    <AuthServer.Client.Pages.Install.Steps.AccountCreationStep />
    <div class="row justify-content-center mt-5">
        <button type="submit" class="col-sm-5 btn" disabled>Previous step</button>
        <button type="submit" class="col-sm-5 offset-sm-1 btn">Next step</button>
    </div>
</div>

@code {
    private string? Email;
    private string? Password;
    private string? _failReason;
}
