@page "/register"

@layout AuthBase

@inject AuthServer.Shared.Auth.AuthClient AuthClient

@using AuthServer.Shared

<div class="h-100">
    <h1>Register</h1>
    <form class="d-flex flex-column justify-content-start h-100" @onsubmit="@SubmitForm" method="post">
        <div class="pt-3">
            <label for="email">Email</label>
            <input type="email" class="form-control w-100 mt-2" required name="email" @bind="@Email" />
        </div>

        <div class="pt-3">
            <div>
                <label for="password">Password</label>
            </div>
            <input type="password" class="form-control w-100 mt-2" required name="password" @bind="@Password" />
        </div>

        <button type="submit" class="btn btn-success  mt-3">Register</button>
    </form>
</div>

@code {
    #nullable enable
    private string? Email;
    private string? Password;

    private async Task SubmitForm()
    {
        RegisterRequest request = new RegisterRequest {
            Email = Email,
            Password = Password
        };

        await AuthClient.RegisterAsync(request);
    }
}
