@page "/login/blocked"

@layout LoggedOutLayout

<div class="h-100 pt-0 pt-md-4">
    <h1>Request Blocked</h1>
    <p>We have detected abnormal traffic from your device. To protect our users, we have blocked the request.</p>
</div>
