@inherits LayoutComponentBase

<div class="d-flex flex-row h-100">
    <div class="sidebar d-flex">
        <div class="sidebar__first bg-primary text-secondary d-flex flex-column">
            <div class="brand text-white">
                Company
            </div>
            <div class="d-flex flex-column justify-content-center text-center mt-4">
                <span class="material-icons md-icon-42 pt-3">apps</span>
                <span class="material-icons md-icon-42 pt-3">security</span>
                <span class="material-icons md-icon-42 pt-3">settings</span>
            </div>
            <div class="avatar">

            </div>
        </div>
        <div class="sidebar__second"></div>
    </div>
    <div class="content">
        @Body
    </div>
</div>