@inherits LayoutComponentBase

<div class="d-flex flex-row h-100">
    <div class="sidebar d-flex">
        <div class="sidebar__first bg-primary text-secondary d-flex flex-column justify-content-between py-4">
            <div class="d-flex flex-column justify-content-center align-items-center">
                <span>Brand</span>
                <span class="material-icons md-icon-42 mt-5">apps</span>
                <span>Apps</span>
                <span class="material-icons md-icon-42 mt-4">security</span>
                <span>Security</span>
                <span class="material-icons md-icon-42 mt-4">settings</span>
                <span>Admin</span>
            </div>
            <div class="d-flex justify-content-center">
                <img src="img/unsplash/profile.jpg" class="avatar avatar__md"> 
            </div>
        </div>
        <div class="sidebar__second"></div>
    </div>
    <div class="content">
        @Body
    </div>
</div>