@page "/layout/main/"

@layout LoggedinBase

<div class="d-flex flex-row flex-wrap">
    <div class="logo-card d-flex flex-column align-items-center text-center p-3 m-3">
        <img src="img/unsplash/profile.jpg" class="avatar avatar__md">
        <p class="text-lg font-weight-bold pt-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="logo-card d-flex flex-column align-items-center text-center p-3 m-3">
        <img src="img/unsplash/profile.jpg" class="avatar avatar__md">
        <p class="text-lg font-weight-bold pt-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="logo-card d-flex flex-column align-items-center text-center p-3 m-3">
        <img src="img/unsplash/profile.jpg" class="avatar avatar__md">
        <p class="text-lg font-weight-bold pt-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    
    </div>
    <div class="logo-card d-flex flex-column align-items-center text-center p-3 m-3">
        <img src="img/unsplash/profile.jpg" class="avatar avatar__md">
        <p class="text-lg font-weight-bold pt-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
    <div class="logo-card d-flex flex-column align-items-center text-center p-3 m-3">
        <img src="img/unsplash/profile.jpg" class="avatar avatar__md">
        <p class="text-lg font-weight-bold pt-2">Name</p>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    </div>
</div>