<span @ref="Trigger" @onclick="Toggle" class="col-lg-1 col-2">
    @ChildContent
</span>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; } = null!;

    [CascadingParameter]
    public Dropdown Dropdown { get; set; } = null!;

    private ElementReference Trigger;

    protected override void OnAfterRender(bool firstRender)
    {
        Dropdown.Trigger = Trigger;
    }

    private void Toggle()
    {
        Dropdown.Toggle();
    }
}
