@page "/login/tos"

@layout LoggedOutLayout

<div class="h-100 pt-0 pt-md-4">
    <h1>Terms & Conditions</h1>

    <p>This website runs the "<a href="https://gatekeeper.page">Gatekeeper</a>" open-source software, an open-source Identity Access Management platform.</p>
    <p>This website may record your interactions with it for, but not limited to, the following purposes:</p>
    
    <ul>
        <li>
            Security
            <ul>
                <li>To protect our systems and services.</li>
            </ul>
        </li>
        <li>
            Diagnostics
            <ul>
                <li>To debug issues on our services.</li>
            </ul>
        </li>
        <li>
            Analytics
            <ul>
                <li>To show and generate statistics on the usage of this system.</li>
            </ul>
        </li>
    </ul>

</div>
