@page "/"

@inject AuthServer.Shared.Auth.AuthClient AuthClient

<h1>Hello, world!</h1>

Welcome to your new app.

@code {
    private AuthServer.Shared.HelloReply Message;

    protected override async Task OnInitializedAsync() {
        var foo = new AuthServer.Shared.HelloRequest{Name="Test"}; 

        Message = await AuthClient.SayHelloAsync(foo);
    }
}
