@page "/admin/groups/create"
@attribute [Authorize(Policy = "SuperAdministrator")]

@layout AdminShell

@using AuthServer.Shared.Admin

@inject AuthServer.Shared.Admin.Groups.GroupsClient GroupsClient
@inject NavigationManager NavigationManager

<h2 class="text-lg">Create group</h2>

<form @onsubmit="@SubmitForm" class="form-group col-12 col-md-6 pl-0">
    <input type="text" class="form-control bg-secondary mb-4" @bind="@Name" placeholder="Name..." />
    <button type="submit" class="btn btn-secondary-dark btn-add">Create</button>
</form>

@code {
   private string Name = "";

   private async Task SubmitForm() 
   {
       GroupCreationRequest request = new GroupCreationRequest{
           Name = Name,
       };
       GroupCreationResponse response = await GroupsClient.CreateGroupAsync(request);

       NavigationManager.NavigateTo("/admin/groups/details/" + response.GroupId);
   }
}
