@page "/profile/"
@attribute [Authorize]

@layout ProfileShell

<h2>Profile</h2>

<h3>Name</h3>
<input type="text" disabled value="Lukas Reschke" />

<h3>Email</h3>
<input type="text" disabled value="lukas@statuscode.ch" />

