@page "/admin/apps"
@attribute [Authorize]

@layout AdminShell

@using AuthServer.Shared.Admin

@inject AuthServer.Shared.Admin.AdminApps.AdminAppsClient AppsClient

<div class="d-flex flex-lg-row flex-column justify-content-between pb-2">
    <h2 class="text-lg">Applications</h2>
    <a href="/admin/apps/setup/" class="btn btn-secondary-dark mb-lg-0 mb-3">Add a new app</a>
</div>

@if(appsReply != null) {
    <div class="table-responsive mb-2">
        <table class="table table-hover table-bordered mb-4 table-secondary table-striped">
            <thead class="bg-secondary-dark">
                <tr>
                    <th scope="col" class="border-0">Application Name</th>
                    <th scope="col" class="border-0">Application URL</th>
                    <th scope="col" class="border-0">Type</th>
                    <th scope="col" class="border-0">Users assigned</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>

            @foreach(AppListEntry entry in appsReply.Apps) {
                <tr>
                    <td><a href="/admin/apps/details/@entry.Id">@entry.Name</a></td>
                    <td><a href="/admin/apps/details/@entry.Id">@entry.Name</a></td>
                    <td><a href="/admin/apps/details/@entry.Id">@entry.Name</a></td>
                    <td><a href="/admin/apps/details/@entry.Id">@entry.Name</a></td>
                    <td><a href="/admin/apps/details/@entry.Id">Edit</a></td>
                    <td><a href="/admin/apps/details/@entry.Id">Delete</a></td>
                </tr>
            }
            </tbody>
        </table>
    </div>
}

@code {
    private AppListReply? appsReply;

    protected override async Task OnInitializedAsync()
    {
        appsReply = await AppsClient.ListAppsAsync(new Google.Protobuf.WellKnownTypes.Empty());
    }
}