@page "/admin/apps"
@attribute [Authorize]

@layout AdminShell

<h2 class="text-lg">Installed apps</h2>

<h2 class="text-lg">Setup new app</h2>

<a class="btn btn-secondary-dark" href="admin/apps/setup/custom">Custom setup</a>
