@page "/apps/"
@attribute [Authorize]

@layout AppShell

@using AuthServer.Shared.Apps

@inject AuthServer.Shared.Apps.Apps.AppsClient AppsClient

<div class="d-flex flex-row flex-wrap">
    @if(appsReply != null) {
        foreach(AppListEntry entry in appsReply.Apps) {
            <a href="/apps/details/@entry.Id">
                <div class="logo-card d-flex flex-column align-items-center text-center p-3 m-3">
                    <p class="text-lg font-weight-bold pt-2">@entry.Name</p>
                </div>
            </a>
        }
    }
</div>

@code {
    private AppListReply? appsReply;

    protected override async Task OnInitializedAsync()
    {
        appsReply = await AppsClient.ListAppsAsync(new Google.Protobuf.WellKnownTypes.Empty());
    }
}
