@page "/apps/details/{Id:guid}"
@attribute [Authorize]

@layout AppShell

@using AuthServer.Shared.Apps

@inject AuthServer.Shared.Apps.Apps.AppsClient AppsClient

@if(appReply != null) {
    <h2>@appReply.Name</h2>

    @if(newL</button>dapPassword != null) {
        <p>@newLdapPassword</p>
    }

    <button @onclick="@CreateLdapPassword">Create LDAP password</button>
}

@code {
    [Parameter]
    public Guid Id { get; set; }

    private GetAppDetailsReply? appReply;
    private String newLdapPassword;

    protected override async Task OnInitializedAsync()
    {
        GetAppDetailsRequest request = new GetAppDetailsRequest {
            Id = Id.ToString(),
        };

        appReply = await AppsClient.GetAppDetailsAsync(request);
    }

    private async Task CreateLdapPassword() 
    {
        CreateLdapCredentialRequest request = new CreateLdapCredentialRequest {
            Id = Id.ToString(),
        };

        newLdapPassword = (await AppsClient.CreateLdapCredentialAsync(request)).Password;
    }
}
