@page "/admin/users"
@attribute [Authorize]

@layout AdminShell

@using AuthServer.Shared.Admin

@inject AuthServer.Shared.Admin.Users.UsersClient UsersClient

<div class="d-flex flex-column flex-md-row justify-content-between">
    <h2>Users</h2>
    <a class="btn btn-secondary-dark mb-3 mb-md-0" href="/admin/users/create">Add a new user</a>
</div>

@if (UserListReply != null)
{
    <div class="table-responsive mb-2">
        <table class="table table-hover table-bordered mb-4 table-secondary table-striped">
            <thead class="bg-secondary-dark">
                <tr>
                    <th scope="col" class="border-0">Name</th>
                </tr>
            </thead>
            <tbody>

                @foreach (User user in UserListReply.Users)
                {
                    <tr>
                        <td>@user.Name</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

@code {
    #nullable enable

    private UserListReply? UserListReply;

    protected override async Task OnInitializedAsync()
    {
        UserListReply = await UsersClient.ListUsersAsync(new Google.Protobuf.WellKnownTypes.Empty());
    }
}
