.btn {
  height: 40px;
  white-space: nowrap;
}

.btn-sm-100 {
  width: 100%;
  white-space: nowrap;

  @include media-breakpoint-up(md) {
    width: auto;
  }
}

.btn-delete:hover {
  background-color: $watermelon;
  color: white;
  border-color: $watermelon;
}

.btn-add:hover {
  background-color: $dark-green;
  color: white;
  border-color: $dark-green;
}

.btn-unstyled {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.btn-unstyled:hover {
  background: transparent;
  box-shadow: 0px 0px 0px transparent;
  border: 0px solid transparent;
  text-shadow: 0px 0px 0px transparent;
}

.btn-unstyled:active {
  outline: none;
  border: none;
}

.btn-unstyled:focus {
  outline: 0;
}
