.typeahead-dropdown {
    span {
        color: black;
        &:hover {
            font-weight: 500;
            background: $light-gray;
            text-decoration: none;
          }
    }
}

.nav-link {
    cursor: pointer;
}