@implements IStep

<h2>Review settings</h2>

@code {
    [Parameter]
    public SetupAppStateMachine StateMachine { get; set; } = null!;

    protected override void OnInitialized() 
    {
        // Note: This is a hack around the fact that the next button will only available
        // if a next step is set. See AdminAppsSetupIndex.razor for reference.

        StateMachine.SetNextStep(new TypeSelectionStep());
    }
}
