<h1>Create your first account</h1>

<input type="text" class="form-control bg-secondary" placeholder="Username">
<br/>
<input type="text" class="form-control bg-secondary" placeholder="Email">
<br/>
<input type="text" class="form-control bg-secondary" placeholder="Password">
<br/>
<input type="text" class="form-control bg-secondary" placeholder="Confirm password">