<h1>Configure custom database</h1>

<input type="text" class="form-control bg-secondary" placeholder="Hostname">
<br/>
<input type="text" class="form-control bg-secondary" placeholder="Username">
<br/>
<input type="text" class="form-control bg-secondary" placeholder="Password">
<br/>
<input type="text" class="form-control bg-secondary" placeholder="Database name">