<div class="row my-4">
    @foreach(CardItem cardItem in CardItems)
    {
        <div class="app-card card col-12 col-md-4 mx-0 my-4 mx-md-4 p-4 shadow text-center justify-content-between">
            <div class="d-flex flex-column">
                <img class="app-card__img mx-auto text-center" src="@cardItem.Icon" />
                <h4 class="text-lg mt-3">@cardItem.Name</h4>
                <p> @cardItem.Description</p>
            </div>
            <button @onclick="@(() => Select(cardItem))" class="btn btn-primary">
                @if(_activeCard == cardItem) 
                {
                    <span>Selected</span>
                }
                else
                {
                    <span>Choose</span>
                }
            </button>
        </div>
    }
</div>

@code {
    [Parameter]
    public List<CardItem> CardItems { get; set; } = new List<CardItem>();
    [Parameter] 
    public EventCallback<CardItem> OnSelect { get; set; }
    
    private CardItem? _activeCard;
    
    private async Task Select(CardItem cardItem) 
    {
        _activeCard = cardItem;
        await OnSelect.InvokeAsync(cardItem);
    }
}
