@inherits LayoutComponentBase

@inject NavigationManager NavigationManager

@implements IDisposable

<div class="d-flex justify-content-center h-100 align-items-center auth-base-root">
    <div class="authentication-card d-flex flex-column-reverse flex-md-row justify-content-between">
        <div class="left-side">
            <div class="h-100 p-4 d-flex flex-column align-items-center justify-content-between">
                <img class="authentication-card__logo p-4 d-md-flex d-none" src="/img/logo-long.svg" />
                <a href="#" class="text-white text-md text-center">Terms &amp; conditions</a>
            </div>
        </div>
        <div class="right-side p-4 w-100 overflow-auto">
            @Body
        </div>
        <div class="bg-primary d-flex d-md-none justify-content-center">
             <img class="authentication-card__logo p-4 d-flex" src="/img/logo-long.svg" />
        </div>
    </div>
</div>

@code {
    private string _uri;

    protected override void OnInitialized() {
        NavigationManager.LocationChanged += LocationChanged;
        LocationChanged(null, null);
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= LocationChanged;
    }

    private void LocationChanged(object sender, LocationChangedEventArgs e) {
        Uri uri = new Uri(NavigationManager.Uri);
        _uri = uri.AbsolutePath;
        StateHasChanged();
    }
}