@page "/admin/settings"
@attribute [Authorize(Policy = "SuperAdministrator")]

@layout AdminShell

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active">Let's Encrypt</a>
    </li>
</ul>

<Gatekeeper.Client.Pages.Admin.Settings.TabView.LetsEncryptTabView />
